<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <h3 class="main-title">Home Page</h3>
        </nav>
    </header>
    <main>
        <form action="/users" method="post">
            <input type="text" name="username">
            <button type="submit">Add Your Username</button>
        </form>
    </main>
</body>
</html>